button {
    height: 44px;
    border: none;
    outline: none;
    border-radius: var(--border-radius-sm);
    box-sizing: border-box;
    font-size: var(--mid-font);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-base);
}

.primary {
    background: var(--color-primary-yellow);
    color: var(--color-text-primary);

    @media (hover: hover) {
        &:hover {
            background: var(--color-primary-yellow-hover);
        }
    }
}

.secondary {
    background: var(--color-background-secondary);
    color: var(--color-secondary-blue);

    @media (hover: hover) {
        &:hover {
            background: var(--color-background-secondary-hover);
        }
    }
}


.card_input__footer {
    button {
        width: 177px;
    }

    @media (max-width: 768px) {
        button {
            width: 100%;
            max-width: 366px;
            margin-bottom: 10px;
        }
    }
}

.post__footer {
    button {
        padding: 10px;
        min-width: 44px;
        margin-right: 12px;
    }
}

.like_counter {
    margin-left: 4px;
}