@media (min-width: 769px) {
    :root {
        --big-font: 28px;
        --mb-font: 23px;
        --mid-font: 18px;
        --small-font: 10px;
    }
}

@media (max-width: 768px) {
    :root {
        --big-font: 24px;
        --mb-font: 20px;
        --mid-font: 16px;
        --small-font: 10px;
    }
}

* {
    margin: 0;
}

body {
    font-style: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    font-stretch: normal;
    font-family: "Tinkoff Sans", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: "Tinkoff Sans";
    src: url("../fonts/TinkoffSans-Bold.woff2") format("woff2"), url("../fonts/TinkoffSans-Bold.woff") format("woff"), url("../fonts/TinkoffSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tinkoff Sans";
    src: url("../fonts/TinkoffSans-Medium.woff2") format("woff2"), url("../fonts/TinkoffSans-Medium.woff") format("woff"), url("../fonts/TinkoffSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tinkoff Sans";
    src: url("../fonts/TinkoffSans-Regular.woff2") format("woff2"), url("../fonts/TinkoffSans-Regular.woff") format("woff"), url("../fonts/TinkoffSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navigation {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}

.navigation__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    order: 0;
    justify-content: space-between;
}

@media (min-width: 769px) {
    .navigation {
        background: rgb(246, 247, 248);
    }

    .navigation__container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.navigation__container__left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation__container_search {
    width: 100%;
}

.navigation__search {
    box-sizing: border-box;
    min-width: 100px;
    max-width: 500px;
    width: 90%;
    height: 32px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgba(36, 74, 127, 0.06);
    font-size: var(--mid-font);
    cursor: text;
    transition: 0.15s cubic-bezier(0.2, 0, 1, 1);
    margin-left: 32px;
    color: rgba(0, 0, 0, 0.4);
}

.navigation__search::placeholder {
    opacity: 0.7;
    font-size: var(--mid-font);
}

.navigation__search:focus:not(:active) {
    border: 1px solid black;
    background-color: white;
    color: black;
}

@media (hover: hover) {
    .navigation__search:hover {
        background: rgba(36, 74, 127, 0.09);
    }
}

.navigation__container__right {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 10px;
    align-items: center;
}

.navigation__container__right button {
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    opacity: 0.4;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: var(--mid-font);
    cursor: pointer;
    transition: opacity cubic-bezier(0.2, 0, 1, 1) 0.15s;
    margin-left: 16px;
}

.navigation__container__right button:hover,
.navigation__container__right button:active {
    opacity: 0.6;
}

@media (max-width: 830px) {
    .navigation__container__right .hide_size {
        display: none;
    }
}

@media (max-width: 470px) {
    .navigation__container__right button > p {
        display: none;
    }
}

@media (min-width: 470px) {
    .navigation__container__right button > img {
        margin-left: 8px;
    }
}

@media (max-width: 768px) {
    .navigation__container__right button {
        background-color: rgba(36, 74, 127, 0.06);
        padding: 0 16px;
        border-radius: 8px;
        height: 44px;
        transition: all ease-out 0.3s;
    }

    .navigation__container__right button:hover,
    .navigation__container__right button:focus {
        background: rgba(36, 74, 127, 0.09);
    }
}

.navigation__container__right > a {
    margin-left: 16px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0) 2px;
    transition: all ease-out 0.3s;
}

.navigation__container__right > img {
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

.navigation__container__right > a:hover {
    border: solid rgba(0, 0, 0, 0.5) 2px;
}

.not-display {
    display: none !important;
}

.posts {
    margin-top: 114px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post {
    background-color: white;
    min-height: 166px;
    height: auto;
    border-radius: 24px;
    width: 80%;
    max-width: 1024px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 6px 34px;
    margin-bottom: 65px;
}

.post__header {
    box-sizing: border-box;
    min-height: 68px;
    width: 100%;
    padding: 24px;
}

.post__header a {
    text-decoration: none;
    color: black;
    font-size: var(--mb-font);
    font-weight: 500;
}

.profile-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-picture {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.post__body {
    box-sizing: border-box;
    padding: 0 24px 24px;
    font-size: var(--mid-font);
}

.post__footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 68px;
    flex-direction: row;
    padding-left: 24px;
    padding-bottom: 24px;
}

.post__footer button {
    box-sizing: border-box;
    padding: 10px;
    min-width: 44px;
    height: 44px;
    border: none;
    border-radius: 8px;
    font-size: var(--mid-font);
    cursor: pointer;
    transition: 0.15s cubic-bezier(0.2, 0, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.comment-button {
    background: rgba(36, 74, 127, 0.06);
    color: rgb(18, 109, 247);
}

.like-button {
    background: rgb(255, 221, 45);
}

.like_counter {
    margin-left: 4px;
}

@media (hover: hover) {
    .comment-button:hover {
        background: rgba(36, 74, 127, 0.09);
    }

    .like-button:hover {
        background: rgb(253, 203, 51);
    }
}

.not_like_heart {
    height: 24px;
    width: 24px;
}

.like_heart {
    position: absolute;
    transform: translateY(2px) translateX(-6px);
    opacity: 0;
}

.show-like {
    transform: translateY(2px) translateX(-7px);
    opacity: 1;
    animation-name: showLike;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

@keyframes showLike {
    from {
        transform: translateY(2px) translateX(-7px) scale(1, 1);
    }

    to {
        transform: translateY(2px) translateX(-7px) scale(1, 1);
    }

    50% {
        transform: translateY(2px) translateX(-7px) scale(1.1, 1.1);
    }
}